.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1d1d1d;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(3px);
  transition: all 0.3s ease;
  transform: translateY(0);
  opacity: 1;
}

.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.295);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  transform: translateY(-100%);
  opacity: 0;
}

.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}

.navbar-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0.88rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.navbar-text {
  color: #e1e1e1;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.01em;
 

}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.logo-image {
  height: 55px;
  width: auto;
  object-fit: contain;
}

.navbar-menu {
  display: flex;
  gap: 2rem;

}

.nav-link {
  color: #e1e1e1;
  text-decoration: none;
  letter-spacing: 0.01em;
  font-size: 1.1rem;
  transition: color 0.3s ease;
    font-weight: 600;
  position: relative;
}

.nav-link:hover {
  color: #85817e;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #85817e;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  width: 25px;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .navbar-container {
    padding: 0.2rem 1.5rem;
    justify-content: space-between;
  }

  .navbar-text {
    display: none;
  }

  .navbar-logo {
    position: static;
    transform: translateX(0);
  }

  .logo-image {
    height: 65px;
  }

  .navbar-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: rgba(7, 7, 7, 0.918);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: right 0.3s ease;
  }

  .navbar-menu.active {
    right: 0;
  }

  .nav-link {
    font-size: 1rem;
  }

  .hamburger {
    display: flex;
  }
}